html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

header{
	width:80%;
	margin:0 auto;
}

.opt-in{
	width:80%;
	font-size: 0;
	margin: 0 auto;
}

.opt-in-row{
	display: flex;
	padding:.25em;
}

.opt-in-row input{
	flex:1;
}

.opt-in-row label{
	flex:.5;
	text-align: right;
	margin-left: auto;
	padding-right:.25em;
}

.opt-in-row{
	width:100%;
}


.left,.right{
	font-size: 1rem;
	vertical-align: top;
}

.left{
	display: inline-block;
	width:30%;
	margin-right:10%;
	min-width:150px;
}

.right{
	display: inline-block;
	width:60%;
}

.brand-logo {
  background-image: url('./yo-llama.png');
  width: 200px;
  height: 150px;
}
